
@{
    ViewData["Title"] = "ViewModel";
}
@model WebL_1.Models.ICalcUnit
<h2 style="padding-bottom:20px">ViewModel</h2>
 
<h6>Rand Value First: @Model.a </h6>
<h6>Rand Value Second: @Model.b</h6>
<h6>Add: @Model.a + @Model.b = @Model.Sum()</h6>
<h6>Sub: @Model.a - @Model.b = @Model.Min()  </h6>
<h6>Mult: @Model.a * @Model.b = @Model.Mult() </h6>
<h6>Mult: @Model.a / @Model.b = @Model.Div()</h6>

