
@{
    ViewBag.Title = "ViewBag";
}


<h2 style="padding-bottom:20px">@ViewBag.Title</h2>

<h6>Rand Value First: @ViewBag.CalcUnit.a</h6>
<h6>Rand Value Second: @ViewBag.CalcUnit.b</h6>
<h6>Add: @ViewBag.CalcUnit.a + @ViewBag.CalcUnit.b = @ViewBag.CalcUnit.Sum()</h6>
<h6>Add: @ViewBag.CalcUnit.a - @ViewBag.CalcUnit.b = @ViewBag.CalcUnit.Min()</h6>
<h6>Add: @ViewBag.CalcUnit.a * @ViewBag.CalcUnit.b = @ViewBag.CalcUnit.Mult()</h6>
<h6>Add: @ViewBag.CalcUnit.a / @ViewBag.CalcUnit.b = @ViewBag.CalcUnit.Div()</h6>

